{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    {% block main-content %} 
    {% endblock main-content %}

    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/todo.js' %}"></script>

</body>
</html>