{% extends 'admin/dashboard.html' %}
{% load static %}
{% load duration_extras %}

{% block title %}{{ user.username }} - Details{% endblock title %}

{% block admin-main-block %}

<main class="flex-1 p-6 bg-gray-100 min-h-screen">
    <h1 class="text-3xl font-bold mb-6">{{ user.username|upper }} - Details</h1>

    <!-- Projects -->
    <div class="bg-white shadow rounded-lg p-6 mb-6">
        <h2 class="text-xl font-semibold mb-4">Projects Created</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Project</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Description</th>
                        <!-- <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Total Time Spent
                        </th> -->
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for project in projects %}
                    <tr>
                        <td class="px-6 py-4 text-gray-800 font-semibold">
                            <a href="{% url 'admin_project_tasks' project.id %}" class=" text-blue-600 hover:underline">
                            {{ project.name }}
                            </a>
                        </td>
                        <td class="px-6 py-4 text-gray-600">{{ project.description|truncatewords:15 }}</td>
                        <!-- <td class="px-6 py-4 text-blue-600 font-mono">{{ project.formatted_total_time }}</td> -->
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="px-6 py-4 text-center text-gray-500">No projects found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- Tasks -->
    <div class="bg-white shadow rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">Tasks Assigned</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Task
                            Title</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Project</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Status</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Priority</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time
                            Spent</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for task in tasks %}
                    <tr>
                        <td class="px-6 py-4 text-gray-800">{{ task.title }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ task.project.name }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ task.status|capfirst }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ task.priority|capfirst }}</td>
                        <td class="px-6 py-4 text-gray-800">{{ task.time_spent|hhmmss }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="px-6 py-4 text-center text-gray-500">No tasks assigned</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock admin-main-block %}